html {
  --lumo-base-color: #660300;
  --lumo-tertiary-text-color: hsla(214, 7%, 54%, 0.5);
  --lumo-secondary-text-color: hsla(214, 46%, 91%, 0.72);
  --lumo-primary-text-color: rgb(244, 237, 236);
  --lumo-primary-color-50pct: rgba(225, 52, 25, 0.5);
  --lumo-primary-color-10pct: rgba(225, 52, 25, 0.1);
  --lumo-primary-color: hsl(8, 80%, 49%);
  --lumo-shade-5pct: rgba(220, 9, 44, 0.05);
  --lumo-shade-10pct: rgba(220, 9, 44, 0.1);
  --lumo-shade-20pct: rgba(220, 9, 44, 0.2);
  --lumo-shade-30pct: rgba(220, 9, 44, 0.3);
  --lumo-shade-40pct: rgba(220, 9, 44, 0.4);
  --lumo-shade-50pct: rgba(220, 9, 44, 0.5);
  --lumo-shade-60pct: rgba(220, 9, 44, 0.6);
  --lumo-shade-70pct: rgba(220, 9, 44, 0.7);
  --lumo-shade-80pct: rgba(220, 9, 44, 0.8);
  --lumo-shade-90pct: rgba(220, 9, 44, 0.9);
  --lumo-shade: hsl(350, 92%, 45%);
  --lumo-header-text-color: hsl(214, 6%, 97%);
  --lumo-body-text-color: hsla(214, 22%, 97%, 0.94);
  --lumo-base-color: hsl(10, 86%, 18%);
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.ppln-header {
    background-color: #e95007
}
.error-label {
    color: #e95007
}