@import url('./views/list-view.css');
@import url('./theme.css');
@import url('lumo-css-framework/all-classes.css');

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
* {
    font-size: 1rem;
}

.logo-kpu {
    width: 100px;
    height: 100px;
}
